@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f3f5fc!important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilos */
body {
  font-family: "Inter", sans-serif;
}
footer {
  margin:2.5%;
}

.logo {
  width:100px;
  margin: 5% 0 5% 0;
}
.rectangulo {
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin:0;
}
.textoResultado {
  font-style: normal;
  font-weight: 400!important;
  font-size: 24px!important;
  line-height: 150%!important;
  color: #495057!important;
  border: none!important;
  display:none;
}
.desencripta:focus {
  outline: none;
}
.textoIngresado {
  font-style: normal;
  font-weight: 400!important;
  font-size: 24px!important;
  line-height: 150%!important;
  color: #0A3871!important;
  background-color: #f3f5fc!important;
  border: none!important;
  margin-bottom: 2.5%!important;
}
.textoIngresado:active {
  outline: none;
}
::placeholder {
  font-family: "Inter", sans-serif;
  color: #0A3871;
}
.encripta:focus {
	outline: none;
}
#btn-copiar {
  padding: 20px;
  height: 65px;
  width: 100%;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background-color: #ffffff;
  display:none;
}
#btn-encriptar {
  padding: 20px;
  height: 65px;
  width: 100%;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background-color: #0a3871;
  color: #ffffff;
}
#btn-encriptar::before {
	font: var(--fa-font-solid);
	content: "\f023";
	margin-right: 5px;
}
#btn-desencriptar {
  padding: 20px;
  height: 65px;
  width: 100%;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background-color: #D8DFE8;
}
#btn-desencriptar::before {
	font: var(--fa-font-solid);
	content: "\f3c1";
	margin-right: 5px;
}
#aviso {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
	margin-left:1%;
	margin-bottom: 15px;
}
#aviso::before {
	font: var(--fa-font-solid);
	content: "\f06a";
	margin-right: 5px;
}
#allurakid {
  margin: 0 auto;
}
.titular {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #343A40;
}
.parrafo {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #495057;
}
.textofooter {
  font-size:0.8rem;
  padding-right: 15px;
  line-height: 1rem;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #allurakid {
    margin: 0 auto;
    display:none;
  }
}